@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">AT - Desenvolvimento Web com .NET e Bases de Dados</h1>
    <p>Feita por: Lohran Mendes, aluno de Engenharia de Software da Infnet.</p>
</div>